/*feuille de style pour la branche*/
/**{
  border: 1px solid grey;
}*/

html{
    height: 100%;

}

body{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.container{
  position: absolute;
  left: 5vw ;
}
.button{
  position: absolute;
  height : 10vh;
  width: 10vh;
  top: 20vh;
}
.branch_container{
  position: absolute;
  display: flex;
  top : 25vh;
  left: 10vh;
}
.branch1{
  height: 40vh;
  width: 40vw;
}
.branch2{
  height: 40vh;
  width: 20vw;
}
.branch0{
  height: 15vh;
  width: 40vw;
}
.branch3{
  height: 20vh;
  width: 30vw;
}
.wood_container{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.wood_margin_bottom{
  height: 5vh;
}
.wood_picture{
  flex : 1;
  height: 25vh;
}

.fruit_container{
  display: flex;
  flex-direction: column;

}
.fruit_margin_top{
  flex : 1;
}
.fruit_picture{
  height : 10vh;
  width: 10vh;
}
.circle{
  background-image: url(./circle.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 2
}
.wood{
  background-image: url(./wood.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
